@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<head>
<style>
  body{
        background-image:url('https://m.media-amazon.com/images/I/51ODqHsXbRL._SY450_.jpg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
       /* background-height:400px;
        background-width:600px;*/
    }
</style>
</head>
 
<div class="text-center">
    <h1 class="display-4" style="color:White;text-align:center" >Welcome to Book Store</h1>
    
</div>
